@font-face {
    font-family: nunito;
    src: url(../fonts/Nunito.ttf)
}
.footer{
    text-align: center;
    padding: 20px;
    background-color: #f6f6f6;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: nunito;
    color: #5E5A59;
}

.custome_color {
    color: #EC4067;
    font-weight: 20;
}

.header {
    width: 100%;
    height: 50px;
    /* float: inline-end; */
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header a {
    background-color: #ffffff;
    padding: 10px;
    width: 120px;
    margin: 5px;
    border: none;
    font-family: nunito;
    color: #EC4067;
    border-radius: 3px;
    /* background-color: #EC4067; */
    transition: all ease-in 0.2s;

}

.header a:hover {
    color: white;
    background-color: #EC4067;
    font-size: large;
}


.title {
    float: left;
    color: #EC4067;
    margin-right: 6px;
    margin-left: 100px;
}

.title_2 {
    color: #5E5A59;
    float: left;

}

a {
    text-decoration: none;
    color: #5E5A59;
    margin: 20px;
}

.enroll {
    background-color: #EC4067;
    padding: 10px;
    width: 120px;
    margin: 5px;
    border: none;
    font-family: nunito;
    color: white;
    border-radius: 3px;
}

.button_sm {
    background-color: #EC4067;
    padding: 5px;
    width: 100px;
    margin: 5px;
    border: none;
    font-family: nunito;
    color: white;
    border-radius: 3px;
}

.small {
    font-size: x-small;
}

.bold {
    font-weight: 600;

}

.grey_div {
    width: 50px;
    height: 25px;
    background-color: #6d6767;
    position: relative;
    opacity: 0.2;
    top: 45;
}

h3 {
    z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
    transition: all ease-in 0.2s;

}

h1:hover {
    font-size: 40px;
}

h2:hover {
    font-size: 30px;
}

p:hover {
    font-size: large;

}


.enroll_2 {
    background-color: #ffffff;
    padding: 10px;
    width: 120px;
    margin: 5px;
    border: none;
    border: 1px solid #EC4067;
    font-family: nunito;
    color: #EC4067;
    border-radius: 3px;
}

.section_1 {
    margin-top: 150px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 50% 50%;
    animation: 1.5s ease-in 0s 1 section_1;

}

.section_3 {
    margin-top: 250px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.section_4 {
    margin-top: 100px;
    margin-left: 150px !important;
    margin-bottom: 20px;

}


.section_2 {
    margin-top: 15px;
    margin-left: 150px;
    margin-bottom: 20px;

}


.role {
    color: #EC4067;
    margin: unset;


}

.description {
    color: #5E5A59;
    margin: unset;
}

.staff_names {
    top: 125px;
    margin-left: 15px;
    position: relative;
    color: rgb(255, 255, 255);
    z-index: 1000;
}

.outer_card {
    height: 150px;
    width: 150px;
    overflow: inherit;
}

img {
    border-radius: 5px;
}

.outer_card img {
    width: 150px;
    border-radius: unset;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* margin:15px; */
}

.outer_card img :hover {
    width: 150px;
    animation: 1s ease-out 0s 1 img;

    /* margin:15px; */
}

.t_mentors {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 50px;
}

.image_1 {
    height: 300px;
}

.image_2 {
    height: 300px;
    margin-top: 50px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes section_1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes img {
    0% {
        transform: scale(20%);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-100%);
    }

    80% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.enroll_3 {
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px;
    width: 120px;
    margin: 5px;
    border: none;
    border: 1px solid #EC4067;
    font-family: nunito;
    color: #EC4067;
    border-radius: 3px;
}

.logo {
    height: 50px;
    left: 90px;
    position: relative;
    float: left;
}